@veryDarkGrayishBlue: hsl(217, 19%, 35%);
@desaturatedDarkBlue: hsl(214, 17%, 51%);
@grayishBlue: hsl(212, 23%, 69%);
@lightGrayishBlue: hsl(210, 46%, 95%);


body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    overflow-x: hidden;
    font-size: 13px;
    height: 100vh;
    background-color: #ecf0f9;
    
}
body{
    display: flex;
}
.main__container{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: auto auto;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    
}
.article__container{
    padding: 2rem 2rem 1.5rem 2rem;
}

.article__header{
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    color: @veryDarkGrayishBlue;
}

.photo__container img{
    width: 100%;
}

.photo__container{
    height: 200px;
    overflow: hidden;
}

.author__container{
    display: flex;
    align-items: center;
}

.author-date__container{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.author__photo{
    height: 40px;
    border-radius: 50%;
}

.author-date__container{
    flex-basis: 33%;
    flex-grow: 1;
    
}

.author__name{
    font-weight: 700;
    font-size: 10px;
    @media (min-width:320px) {
        font-size: 13px;
    }
}

.article__description{
    padding-bottom: 3rem;
    font-size: 13px;
    line-height: 150%;
    color: @desaturatedDarkBlue;
}

.cta__button{
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-color: #ecf0f9;
    z-index: 1;
    cursor: pointer;
}

.share-icon{
    height: 18px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.date{
    color: @grayishBlue;
    font-size: 10px;
    @media (min-width:320px) {
        font-size: 13px;
    }
    
}

.social-media__bar{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: @veryDarkGrayishBlue;
    height: 79px;
    visibility: collapse;
}
.social__description{
    color: @desaturatedDarkBlue;
    padding-left: 2rem;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: 4px;
    font-size: 15px;
}

.fab{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
}

.fa-facebook-square{
    left: 45%;
    @media (min-width:321px) {
        left: 38%;
    }
    
}

.fa-twitter{
    left: 56%;
    @media (min-width:321px) {
        left: 49%;
    }
    
}

.fa-pinterest{
    left: 67%;
    @media (min-width:321px) {
        left: 60%;
    }
    
}

.visible{
    visibility: visible;
}